<!DOCTYPE html>
<html>

<head>
    <title>
        Binary Codes | Tech Blog
    </title>
    <link rel="icon" type="image/png" href="/images/react.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo-container">
                <img class="logo" src="/images/react.png" alt="React">
                <p>Binary Codes</p>
            </div>
            <div class="nav-items-container">
                <ul class="nav-items-ul">
                    <li class="nav-item-li">
                        Home
                    </li>

                    <li class="nav-item-li">
                        Blogs
                    </li>

                    <li class="nav-item-li">
                        About
                    </li>
                    <li class="nav-item-dp">

                        <div class="circle-div">

                            <img src="https://avatars.githubusercontent.com/u/23066967?s=460&u=868a48666136483263317e5cc390ec26fd2e529a&v=4"
                                alt="profile">


                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>