<%- include('partials/header') -%>

    <div class="main-content">


        <aside class="aside-left">
            <div class="whats-new-container">
                <p class="whats-new-head">What's New</p>
                <div class="whats-new-content">
                    <p>An Appeal To Marvel Fans, Please Judge 'WandaVision' Based On What It Is And Not Your Fan
                        Theories
                        NASA Hubble Telescope Captures A Beautiful “Evil Eye” Galaxy In The Sky!</p>

                    <p class="discover-more">Discover More</p>
                </div>
            </div>
            <div class="trending-topics-container">
                <p class="trending-topics-head">Trending</p>
                <div class="trending-topics-content">
                    <p># Machine Learning</p>
                    <p># Machine Learning</p>
                    <p># Machine Learning</p>
                    <p># Machine Learning</p>
                    <p># Machine Learning</p>
                </div>
            </div>
        </aside>
        <main class="main-mid">
            <div class="all-posts">
                <div class="each-post-container">
                    <div class="postee-details">
                        <!-- add name and profession  -->
                        <div class="postee-details-left">
                            <p class="post-detail-name">Leo Capri</p>
                            <p class="post-detail-pro">Tech Enthusiasts</p>
                        </div>
                        <div class="postee-details-right">
                            <img class="dots" src="/images/dots.png" alt="">
                        </div>
                    </div>
                    <div class="post-content-container">
                        <p class="post-content-head">How Tech Has Made Us Pro ? </p>
                        <p class="post-content-content">Appeal To Marvel Fans, Please Judge 'WandaVision' Based On What
                            It Is And Not Your Fan
                            Theories ..</p>
                        <img class="post-content-img"
                            src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                            alt="">
                    </div>
                </div>
                <div class="each-post-container">
                    <div class="postee-details">
                        <!-- add name and profession  -->
                        <div class="postee-details-left">
                            <p class="post-detail-name">Leo Capri</p>
                            <p class="post-detail-pro">Tech Enthusiasts</p>
                        </div>
                        <div class="postee-details-right">
                            <img class="dots" src="/images/dots.png" alt="">
                        </div>
                    </div>
                    <div class="post-content-container">
                        <p class="post-content-head">Virtual World ? </p>
                        <p class="post-content-content">Is Indoor the new outdoor for tech people as well as non tech
                            people. ...
                        </p>
                        <img class="post-content-img"
                            src="https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                            alt="">
                    </div>
                </div>
            </div>
        </main>
        <aside class="aside-right">
            <div class="whats-new-container">
                <p class="whats-new-head">Upcoming Techs</p>
                <div class="whats-new-content">
                    <p>An Appeal To Marvel Fans, Please Judge 'WandaVision' Based On What It Is And Not Your Fan
                        Theories
                        NASA Hubble Telescope Captures A Beautiful “Evil Eye” Galaxy In The Sky!</p>
                </div>
            </div>
        </aside>



    </div>

    <%- include('partials/footer') -%>